/*
Theme Name: Mr. Tailor
Theme URI: http://www.getbowtied.com/
Author: Get Bowtied
Author URI: http://www.getbowtied.com/
Description: Mr. Tailor is a responsive, super-mobile-friendly theme for WordPress and WooCommerce.
Version: 1.5
License:
License URI:
Text Domain: mr_tailor
Domain Path: /languages/
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, fluid-layout, fixed-layout, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
*/
.home .artist_img img {
    height: 160px;
    width: 160px;
}
.page-id-125 .wpb_accordion_section.group {
    padding: 10px;
    padding-bottom: 30px;
}
.page-id-125 .wpb_content_element {
    margin-top: 25px;
}
.page-id-125 .wpb_wrapper .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
    padding-bottom: 0px;
} 
.page-id-125 .vc_custom_1400327192228 {
    padding-top: 0px !important;
}
.cart_item td.product-thumbnail {
    padding: 0px !important;
}
th.product-thumbnail {
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.cart_item .product-thumbnail {
    vertical-align: middle !important;
}
.cart_item .product-thumbnail img {
    margin-left: 5px;
}
td.product-custom li {
    font-size: 10px;
}
.woocommerce-page #content table.cart .product-custom {
    padding-right: 65px !important;
}
.woocommerce-page #content table.cart .product-name {
    padding-left: 15px;
}
.woocommerce-cart table.cart .product-quantity, .woocommerce-cart #content table.cart .product-quantity, .woocommerce-cart table.cart .product-quantity, .woocommerce-cart #content table.cart .product-quantity, .woocommerce-cart table.cart td.product-subtotal, .woocommerce-cart #content table.cart td.product-subtotal, .woocommerce-cart table.cart td.product-subtotal, .woocommerce-cart #content table.cart td.product-subtotal {
    padding-right: 65px;
}
span.question {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #89A4CC;
  line-height: 16px;
  color: White;
  font-size: 13px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  position: relative;
}
span.question:hover { background-color: #3D6199; }
div.tooltip {
  background-color: #3D6199;
  color: White;
  position: absolute;
  left: 25px;
  top: -25px;
  z-index: 1000000;
  width: 250px;
  border-radius: 5px;
}
div.tooltip:before {
  border-color: transparent #3D6199 transparent transparent;
  border-right: 6px solid #3D6199;
  border-style: solid;
  border-width: 6px 6px 6px 0px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  line-height: 0;
  position: absolute;
  top: 40%;
  left: -6px;
}
div.tooltip p {
  margin: 10px;
  color: White;
}
.color_picker {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}
.home .artist_box {
    margin: 0 auto;
    display: block;
}