.hello_usr{
    vertical-align: middle;
    line-height:50px;
}
.art-wrap{
    width:100%;
    margin:0 auto;
}
.artist_name {
    font-size: 15px;
    position: absolute;
    vertical-align: middle;
    width: 150px;
    color: white;
    font-weight: bold;
    background: rgba(0,0,0,0.4);
}
.artist_box{
    border: 2px solid #E6E6E6;
    background-color: whitesmoke;
    margin-bottom:25px;
    text-align: center;
    display: inline-block;
}
#tab-2205ff5a-5e07-6,#tab-a802e1fb-ea12-8{
    display:none; 
}
.artist_img:hover {
  opacity: 0.8;
}
h5 {
    font-weight: bold;
}
.color_picker {
    border: 1px solid #B9B9B9;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}
#pins-on div {
  min-width: 20px;
  min-height: 20px;
  background: rgb(228, 228, 228);
  border: 1px solid rgb(150, 150, 150);
  border-radius: 20px;
  box-shadow: 2px 2px 0px rgb(169, 169, 169);
  z-index: 9999;
  display: block;
  position: absolute;
}
.pin_n1 {
  top: 5%;
  left: 5%;
}
.pin_n2 {
  top: 5%;
  right: 5%;
}
.pin_n3 {
  bottom: 5%;
  left: 5%;
}
.pin_n4 {
  bottom: 5%;
  right: 5%;
}
.artist_img {
    width: 150px;
    height: auto;
    position: relative;
}

.artist_img img {
    height: 150px;
    float: left;
}
.artists-index .artist_box{
    display:block;
}

.artists-index .artist_img {
  width: 19%;
  height: auto;
  float: left;
  margin-top: 5px;
  margin-left: 3px;
  display: inline-block;
}

.linked_product,.self_product {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 50%;
    line-height: 20px;
    bottom: 0;
      -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity  0.5s ease-in-out;
  -ms-transition: opacity  0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity  0.5s ease-in-out;
    opacity:0.6;
    
}
.linked_product a,.self_product a {
    color: #95E5FF;
    text-shadow: 1px 1px black;
    font-size: 11px;
}

.linked_product:hover,.self_product:hover {
    
   
     -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5 sease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity:1;
   
}     
.self_product {
    right:0;
}
.self_product a {
    color:#4AFF4A;
}
.artist_box img.attachment-thumbnail.wp-post-image {
    width: 150px;
    height:150px;
}

img.attachment-thumbnail.wp-post-image:hover {
    opacity: 0.8;
}
select.topbar-size-switcher, select.topbar-curr-switcher,select.topbar-weight-switcher  {
    background: none;
    color: white;
    border: none;
    vertical-align: middle;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 0;
    margin-left:10px;
}
nav#site-navigation-top-bar {
    height: 50px;
}
#site-top-bar .main-navigation ul li a {
    padding-right: 10px;
}
.artist_box img.attachment-thumbnail.wp-post-image{
    transition: all .2s ease-in-out;
}
.artist_box img.attachment-thumbnail.wp-post-image:hover {
    box-shadow: 0px 0px 20px 20px rgba(34, 34, 34, 0.86);
    transform: scale(1.05);
}
img.dd-option-image.dd-image-right,img.dd-selected-image.dd-image-right {
    width: 30px;
    margin: 0 auto;
}
form.woocommerce-currency-switcher-form {
    margin: 0 !important;
     margin-top: -10px !important;
    margin-right: -10px !important;
}
form.woocommerce-currency-switcher-form .dd-select {
    background:none !important;
    border: none !important;
    width:80px !important;
}
woocommerce-currency-switcher-form a{
    padding: none !important;
}
form.woocommerce-currency-switcher-form .dd-container{
    width:80px !important;
}
small.dd-selected-description.dd-desc.dd-selected-description-truncated {
    display: none;
}
form.woocommerce-currency-switcher-form .dd-selected-text{
    color:white !important
}
.mini_canvas{
	background-image: url(/lemon/wp-content/themes/mrtailor/images/mini_canvas.png) !important;
	background-repeat: no-repeat;
	background-position: center;
	height: 350px;
	padding-bottom: 100px;
	background-size: contain;
    position:relative;
}
.mini_canvas img{
	max-height:200px !important;
    width:auto !important;
}
input.choose_img {
    background-color: rgb(62, 83, 114);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    left: auto;
    letter-spacing: normal;
    line-height: 13px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-width: 200px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 15px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-transform: uppercase;
    transition-delay: 0s, 0s;
    transition-duration: 0.3s, 0.3s;
    transition-property: color, background;
    transition-timing-function: ease, ease;
    vertical-align: middle;
    white-space: nowrap;
    width: 200px;
    word-spacing: 0px;
    word-wrap: break-word;
    writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
}

#wraper_header {
    background: #3E5372;
    width: 100%;
    border: 1px solid #E5E5E5;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
#wraper_header h3 {
    color: white;
    font-size: 24px;
    text-shadow: 1px 1px #9E9E9E;
}

/*.owl-item{
    border-image: url(http://www.c14.co.il/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max2.png) 3 repeat;
    border-width: 10px;
}*/

.frame_style_1 {
border: 1.8em double #edb742 !important; 
/* Safari and Chrome */
-webkit-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max1.png) !important; 
-webkit-border-image-slice: 56 !important;  
-webkit-border-image-width: 1.9em !important;  
-webkit-border-image-outset: 0 !important;  
-webkit-border-image-repeat: round !important;  

/* Firefox */
-moz-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max1.png) !important;  
-moz-border-image-slice: 56 !important; 
-moz-border-image-width: 1.9em !important; 
-moz-border-image-outset: 0 !important;  
-moz-border-image-repeat: round !important; 

/* Internet Explorer */
-ms-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max1.png) !important;  
-ms-border-image-slice: 56 !important;  
-ms-border-image-width: 1.9em !important;  
-ms-border-image-outset: 0 !important;  
-ms-border-image-repeat: round !important;  

/* Opera */
-o-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max1.png) !important;  
-o-border-image-slice: 56 !important;  
-o-border-image-width: 1.9em !important;  
-o-border-image-outset: 0 !important;  
-o-border-image-repeat: round !important;  

/* CSS3 */
border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max1.png) !important; 
border-image-slice: 56 !important; 
border-image-width: 1.9em !important;  
border-image-outset: 0 !important; 
border-image-repeat: round !important;  
    
    
}
.frame_style_2 {
border: 1.8em double #edb742 !important; 
/* Safari and Chrome */
-webkit-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max2.png) !important; 
-webkit-border-image-slice: 56 !important;  
-webkit-border-image-width: 2.1em !important;  
-webkit-border-image-outset: 0 !important;  
-webkit-border-image-repeat: round !important;  

/* Firefox */
-moz-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max2.png) !important;  
-moz-border-image-slice: 56 !important; 
-moz-border-image-width: 2.1em !important; 
-moz-border-image-outset: 0 !important;  
-moz-border-image-repeat: round !important; 

/* Internet Explorer */
-ms-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max2.png) !important;  
-ms-border-image-slice: 56 !important;  
-ms-border-image-width: 2.1em !important;  
-ms-border-image-outset: 0 !important;  
-ms-border-image-repeat: round !important;  

/* Opera */
-o-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max2.png) !important;  
-o-border-image-slice: 56 !important;  
-o-border-image-width: 2.1em !important;  
-o-border-image-outset: 0 !important;  
-o-border-image-repeat: round !important;  

/* CSS3 */
border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max2.png) !important; 
border-image-slice: 56 !important; 
border-image-width: 2.1em !important;  
border-image-outset: 0 !important; 
border-image-repeat: round !important;  
    
    
}

.frame_style_3 {
border: 1.1em double #edb742 !important; 
/* Safari and Chrome */
-webkit-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max3.png) !important; 
-webkit-border-image-slice: 56 !important;  
-webkit-border-image-width: 2.6em !important;  
-webkit-border-image-outset: 0 !important;  
-webkit-border-image-repeat: round !important;  

/* Firefox */
-moz-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max3.png) !important;  
-moz-border-image-slice: 56 !important; 
-moz-border-image-width: 2.6em !important; 
-moz-border-image-outset: 0 !important;  
-moz-border-image-repeat: round !important; 

/* Internet Explorer */
-ms-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max3.png) !important;  
-ms-border-image-slice: 56 !important;  
-ms-border-image-width: 2.6em !important;  
-ms-border-image-outset: 0 !important;  
-ms-border-image-repeat: round !important;  

/* Opera */
-o-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max3.png) !important;  
-o-border-image-slice: 56 !important;  
-o-border-image-width: 2.6em !important;  
-o-border-image-outset: 0 !important;  
-o-border-image-repeat: round !important;  

/* CSS3 */
border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max3.png) !important; 
border-image-slice: 56 !important; 
border-image-width: 2.6em !important;  
border-image-outset: 0 !important; 
border-image-repeat: round !important;     
}

.frame_style_4 {
border: 1.3em double #edb742 !important; 
/* Safari and Chrome */
-webkit-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max4.png) !important; 
-webkit-border-image-slice: 56 !important;  
-webkit-border-image-width: 2.6em !important;  
-webkit-border-image-outset: 0 !important;  
-webkit-border-image-repeat: round !important;  

/* Firefox */
-moz-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max4.png) !important;  
-moz-border-image-slice: 56 !important; 
-moz-border-image-width: 2.6em !important; 
-moz-border-image-outset: 0 !important;  
-moz-border-image-repeat: round !important; 

/* Internet Explorer */
-ms-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max4.png) !important;  
-ms-border-image-slice: 56 !important;  
-ms-border-image-width: 2.6em !important;  
-ms-border-image-outset: 0 !important;  
-ms-border-image-repeat: round !important;  

/* Opera */
-o-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max4.png) !important;  
-o-border-image-slice: 56 !important;  
-o-border-image-width: 2.6em !important;  
-o-border-image-outset: 0 !important;  
-o-border-image-repeat: round !important;  

/* CSS3 */
border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max4.png) !important; 
border-image-slice: 56 !important; 
border-image-width: 2.6em !important;  
border-image-outset: 0 !important; 
border-image-repeat: round !important;     
}

.frame_style_5 {
border: 1.6em double #edb742 !important; 
/* Safari and Chrome */
-webkit-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max5.png) !important; 
-webkit-border-image-slice: 56 !important;  
-webkit-border-image-width: 2.6em !important;  
-webkit-border-image-outset: 0 !important;  
-webkit-border-image-repeat: round !important;  

/* Firefox */
-moz-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max5.png) !important;  
-moz-border-image-slice: 56 !important; 
-moz-border-image-width: 2.6em !important; 
-moz-border-image-outset: 0 !important;  
-moz-border-image-repeat: round !important; 

/* Internet Explorer */
-ms-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max5.png) !important;  
-ms-border-image-slice: 56 !important;  
-ms-border-image-width: 2.6em !important;  
-ms-border-image-outset: 0 !important;  
-ms-border-image-repeat: round !important;  

/* Opera */
-o-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max5.png) !important;  
-o-border-image-slice: 56 !important;  
-o-border-image-width: 2.6em !important;  
-o-border-image-outset: 0 !important;  
-o-border-image-repeat: round !important;  

/* CSS3 */
border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max5.png) !important; 
border-image-slice: 56 !important; 
border-image-width: 2.6em !important;  
border-image-outset: 0 !important; 
border-image-repeat: round !important;     
}

.frame_style_6 {
border: 1.2em double #edb742 !important; 
/* Safari and Chrome */
-webkit-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max6.png) !important; 
-webkit-border-image-slice: 56 !important;  
-webkit-border-image-width: 2.8em !important;  
-webkit-border-image-outset: 0 !important;  
-webkit-border-image-repeat: round !important;  

/* Firefox */
-moz-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max6.png) !important;  
-moz-border-image-slice: 56 !important; 
-moz-border-image-width: 2.8em !important; 
-moz-border-image-outset: 0 !important;  
-moz-border-image-repeat: round !important; 

/* Internet Explorer */
-ms-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max6.png) !important;  
-ms-border-image-slice: 56 !important;  
-ms-border-image-width: 2.8em !important;  
-ms-border-image-outset: 0 !important;  
-ms-border-image-repeat: round !important;  

/* Opera */
-o-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max6.png) !important;  
-o-border-image-slice: 56 !important;  
-o-border-image-width: 2.8em !important;  
-o-border-image-outset: 0 !important;  
-o-border-image-repeat: round !important;  

/* CSS3 */
border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max6.png) !important; 
border-image-slice: 56 !important; 
border-image-width: 2.8em !important;  
border-image-outset: 0 !important; 
border-image-repeat: round !important;     
}

.frame_style_7 {
border: 1.3em double #edb742 !important; 
/* Safari and Chrome */
-webkit-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max7.png) !important; 
-webkit-border-image-slice: 56 !important;  
-webkit-border-image-width: 2.6em !important;  
-webkit-border-image-outset: 0 !important;  
-webkit-border-image-repeat: round !important;  

/* Firefox */
-moz-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max7.png) !important;  
-moz-border-image-slice: 56 !important; 
-moz-border-image-width: 2.6em !important; 
-moz-border-image-outset: 0 !important;  
-moz-border-image-repeat: round !important; 

/* Internet Explorer */
-ms-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max7.png) !important;  
-ms-border-image-slice: 56 !important;  
-ms-border-image-width: 2.6em !important;  
-ms-border-image-outset: 0 !important;  
-ms-border-image-repeat: round !important;  

/* Opera */
-o-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max7.png) !important;  
-o-border-image-slice: 56 !important;  
-o-border-image-width: 2.6em !important;  
-o-border-image-outset: 0 !important;  
-o-border-image-repeat: round !important;  

/* CSS3 */
border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max7.png) !important; 
border-image-slice: 56 !important; 
border-image-width: 2.6em !important;  
border-image-outset: 0 !important; 
border-image-repeat: round !important;     
}

.frame_style_8 {
border: 1.8em double #edb742 !important; 
/* Safari and Chrome */
-webkit-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max8.png) !important; 
-webkit-border-image-slice: 56 !important;  
-webkit-border-image-width: 2.1em !important;  
-webkit-border-image-outset: 0 !important;  
-webkit-border-image-repeat: round !important;  

/* Firefox */
-moz-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max8.png) !important;  
-moz-border-image-slice: 56 !important; 
-moz-border-image-width: 2.1em !important; 
-moz-border-image-outset: 0 !important;  
-moz-border-image-repeat: round !important; 

/* Internet Explorer */
-ms-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max8.png) !important;  
-ms-border-image-slice: 56 !important;  
-ms-border-image-width: 2.1em !important;  
-ms-border-image-outset: 0 !important;  
-ms-border-image-repeat: round !important;  

/* Opera */
-o-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max8.png) !important;  
-o-border-image-slice: 56 !important;  
-o-border-image-width: 2.1em !important;  
-o-border-image-outset: 0 !important;  
-o-border-image-repeat: round !important;  

/* CSS3 */
border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max8.png) !important; 
border-image-slice: 56 !important; 
border-image-width: 2.1em !important;  
border-image-outset: 0 !important; 
border-image-repeat: round !important;     
}
.frame_style_9 {
border: 1.2em double #edb742 !important; 
/* Safari and Chrome */
-webkit-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max9.png) !important; 
-webkit-border-image-slice: 56 !important;  
-webkit-border-image-width: 2.6em !important;  
-webkit-border-image-outset: 0 !important;  
-webkit-border-image-repeat: round !important;  

/* Firefox */
-moz-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max9.png) !important;  
-moz-border-image-slice: 56 !important; 
-moz-border-image-width: 2.6em !important; 
-moz-border-image-outset: 0 !important;  
-moz-border-image-repeat: round !important; 

/* Internet Explorer */
-ms-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max9.png) !important;  
-ms-border-image-slice: 56 !important;  
-ms-border-image-width: 2.6em !important;  
-ms-border-image-outset: 0 !important;  
-ms-border-image-repeat: round !important;  

/* Opera */
-o-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max9.png) !important;  
-o-border-image-slice: 56 !important;  
-o-border-image-width: 2.6em !important;  
-o-border-image-outset: 0 !important;  
-o-border-image-repeat: round !important;  

/* CSS3 */
border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max9.png) !important; 
border-image-slice: 56 !important; 
border-image-width: 2.6em !important;  
border-image-outset: 0 !important; 
border-image-repeat: round !important;     
}
.frame_style_10 {
border: 1.2em double #edb742 !important; 
/* Safari and Chrome */
-webkit-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max10.png) !important; 
-webkit-border-image-slice: 56 !important;  
-webkit-border-image-width: 2.6em !important;  
-webkit-border-image-outset: 0 !important;  
-webkit-border-image-repeat: round !important;  

/* Firefox */
-moz-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max10.png) !important;  
-moz-border-image-slice: 56 !important; 
-moz-border-image-width: 2.6em !important; 
-moz-border-image-outset: 0 !important;  
-moz-border-image-repeat: round !important; 

/* Internet Explorer */
-ms-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max10.png) !important;  
-ms-border-image-slice: 56 !important;  
-ms-border-image-width: 2.6em !important;  
-ms-border-image-outset: 0 !important;  
-ms-border-image-repeat: round !important;  

/* Opera */
-o-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max10.png) !important;  
-o-border-image-slice: 56 !important;  
-o-border-image-width: 2.6em !important;  
-o-border-image-outset: 0 !important;  
-o-border-image-repeat: round !important;  

/* CSS3 */
border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max10.png) !important; 
border-image-slice: 56 !important; 
border-image-width: 2.6em !important;  
border-image-outset: 0 !important; 
border-image-repeat: round !important;     
}
.frame_style_11 {
border: 1.2em double #edb742 !important; 
/* Safari and Chrome */
-webkit-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max11.png) !important; 
-webkit-border-image-slice: 56 !important;  
-webkit-border-image-width: 2.6em !important;  
-webkit-border-image-outset: 0 !important;  
-webkit-border-image-repeat: round !important;  

/* Firefox */
-moz-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max11.png) !important;  
-moz-border-image-slice: 56 !important; 
-moz-border-image-width: 2.6em !important; 
-moz-border-image-outset: 0 !important;  
-moz-border-image-repeat: round !important; 

/* Internet Explorer */
-ms-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max11.png) !important;  
-ms-border-image-slice: 56 !important;  
-ms-border-image-width: 2.6em !important;  
-ms-border-image-outset: 0 !important;  
-ms-border-image-repeat: round !important;  

/* Opera */
-o-border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max11.png) !important;  
-o-border-image-slice: 56 !important;  
-o-border-image-width: 2.6em !important;  
-o-border-image-outset: 0 !important;  
-o-border-image-repeat: round !important;  

/* CSS3 */
border-image-source: url(/lemon/wp-content/themes/mrtailor/images/frames/full-frame-max11.png) !important; 
border-image-slice: 56 !important; 
border-image-width: 2.6em !important;  
border-image-outset: 0 !important; 
border-image-repeat: round !important;     
}
.easyzoom img:hover,.easyzoom-flyout img:hover {
 cursor:grabbing;
}
.postid-620 .product_infos {
    margin-top: -65px;
}
.mini_canvas .easyzoom {
    bottom: 105px;
    display: block;
    position: absolute;
    left:0;
    right:0;
}


/*.term-212 #content_tabs ul{
  list-style: none;
  text-align: center;
}

.term-212 #content_tabs ul li{
  display: inline-block;
  padding: 2px;
}*/


/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            /*  */
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

/*----- Search form at the Blog page -----*/
.page-id-83 .search-form,.page-id-611 .search-form{
    width: 80%;
    margin: 0 auto;
}
.page-id-611 .search-form{
    max-width: 700px;
}
.page-id-83 .search-form label.screen-reader-text ,.page-id-611 .search-form label.screen-reader-text{
    display: none;
}
.page-id-83 .search-form input#s,.page-id-611 .search-form input#s{
    width: 70%;
    display: inline-block;
}
.page-id-611 .search-submit {
    padding: 11px;
    width: 29%;
}
.page-id-83 .search-form input.search-submit,.page-id-61  .search-form input.search-submit{
    width: 29%;
    height: 36px;
    padding-top: 11px;
}
.artist_country {
    position: absolute;
    top: 123px;
    background: rgba(0, 0, 0, 0.15);
    width: 150px;
    color: #00FF8D;
}
.woocommerce-breadcrumb
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgba(34, 34, 34, 0.45098);
    cursor: default;
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    height: 23px;
    line-height: 23.9993px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    word-wrap: break-word;
}
.woocommerce-breadcrumb a
{
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
box-sizing: border-box;
color: rgb(62, 83, 114);
cursor: auto;
display: inline;
font-family: Raleway, sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 500;
height: auto;
line-height: 23.9993px;
text-align: center;
text-decoration: none;
transition-delay: 0s;
transition-duration: 0.2s;
transition-property: color;
transition-timing-function: ease;
width: auto;
word-wrap: break-word;
}
.solo_link{
    width:100%;
}
.solo_link a{
    color: #D8D800;
}